/.Banco.java._trace
/.Banco.xtendbin
/.Biblioteca.java._trace
/.Biblioteca.xtendbin
/.Caso.java._trace
/.Caso.xtendbin
/.Club.java._trace
/.Club.xtendbin
/.Cuidador.java._trace
/.Cuidador.xtendbin
/.Detective.java._trace
/.Detective.xtendbin
/.Expediente.java._trace
/.Expediente.xtendbin
/.Informante.java._trace
/.Informante.xtendbin
/.LugarDeInteres.java._trace
/.LugarDeInteres.xtendbin
/.Mapamundi.java._trace
/.Mapamundi.xtendbin
/.Ocupante.java._trace
/.Ocupante.xtendbin
/.Pais.java._trace
/.Pais.xtendbin
/.Villano.java._trace
/.Villano.xtendbin
/Banco.java
/Biblioteca.java
/Caso.java
/Club.java
/Cuidador.java
/Detective.java
/Expediente.java
/Informante.java
/LugarDeInteres.java
/Mapamundi.java
/Ocupante.java
/Pais.java
/Villano.java
